@import "../../global.scss";

.loader {
  width: 46px;
  height: 46px;
  border-radius: 50%;
  margin: 42px auto 0;
  background-color: transparent;

  border-width: 0;
  border-right: 4px solid black;
  border-top: 2px solid transparent;

  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(360deg);
  }

  100% {
    transform: rotate(0deg);
  }
}
