$text: #eeeeee;
$black: #0a0a0a;
$primary: #d147f7;
$foreground: #d1ba84;
$backgroundColor: #94ffd7;
$backgroundColorWithOpacity: #03ffa1e3;

body.dark-theme {
  $text: #aaaaaa;
  $primary: #7b3fcc;
  $foreground: #b36b0b;
  $backgroundColor: #70ff95;
}
