// @import "./theme-colors.scss";

.app-container {
  // height: 100vh;
}

.main-section {
  position: relative;
}

.home-hero {
  width: 60%;
  padding-top: 60px;
  padding-bottom: 60px;
}

.hero-description {
  line-height: 1.5;
  letter-spacing: 1px;
}

.home-greetings {
  font-size: 2rem;
  position: relative;
}

.home-greeting {
  width: 10rem;
  position: absolute;
  top: 0;
}

.home-greeting:nth-child(n + 2) {
  opacity: 0;
}

$total-animation-time: 27s;
$total-texts: 9;
$time-slice: 100 / $total-texts;
$appear-disappear-time: ($time-slice - $total-texts)/2;

@for $i from 1 through $total-texts {
  .home-greeting:nth-child(#{$i}) {
    animation: home-greeting-#{$i} $total-animation-time linear infinite;
  }

  @keyframes home-greeting-#{$i} {
    $index: $i - 1; // the first animation need to start at 0%
    $beginAnimation: $index * $time-slice; // the first animation need to start at 0%, rest is a multiplier
    $startVisibility: $beginAnimation + $appear-disappear-time;
    $endVisibility: ($startVisibility * 1) + $total-texts;

    #{$beginAnimation * 1%},
    #{($endVisibility+$appear-disappear-time) * 1%},
    100% {
      opacity: 0;
    }

    #{$startVisibility * 1%},
    #{$endVisibility * 1%} {
      opacity: 1;
    }
  }
}
