@import "../../global.scss";

.page-container {
  display: grid;
  grid-template-rows: 65px auto;
  grid-template-areas:
    "filters-container categories-container"
    "news-container categories-container";
  grid-template-columns: minmax(500px, 80%) minmax(200px, 20%);
}

.filters-container {
  display: flex;
  max-height: 65px;
  align-items: center;
  margin-right: 52px;
  padding-bottom: 20px;
  grid-area: filters-container;
  justify-content: space-between;
  border-bottom: 1px solid $transparent-black;

  $date-filter-container-width: 400px;

  .keyword-input-container {
    width: calc(100% - $date-filter-container-width - 10px);
    display: flex;
    position: relative;
    margin-right: 10px;
    align-items: center;
    justify-content: center;
  }

  .date-filter-container {
    font-size: 16px;
  }

  .date-filter-input {
    padding: 4px;
    outline: none;
    border-radius: 5px;
    border: 1px solid $transparent-black;
  }

  .keyword-input {
    width: 100%;
    font-size: 16px;
    border-radius: 5px;
    padding: 10px 54px 10px 10px;
    border: 1px solid $transparent-black;
  }

  .search-icon {
    right: 15px;
    opacity: 0.5;
    cursor: pointer;
    position: absolute;
  }
}

.news-articles-container {
  grid-area: news-container;
}

.articles-count {
  opacity: 0.5;
  font-size: 12px;
  margin-bottom: 5px;
  font-style: italic;
}

.categories-container {
  display: flex;
  flex-direction: column;
  grid-area: categories-container;

  .category-heading {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 500;
    padding-left: 15px;
    padding-bottom: 12px;
    border-left: 1px solid $transparent-black;
  }

  .categories-list {
    display: flex;
    flex-wrap: no-wrap;
    padding-left: 15px;
    flex-direction: column;
    border-left: 1px solid $transparent-black;
  }

  .label {
    scale: 1;
    margin: 5px 0;
    cursor: pointer;
    font-weight: 500;
    padding: 5px 20px;
    position: relative;
    width: fit-content;
    border-radius: 20px;
    transition: scale 200ms;
    background-color: white;
    text-transform: capitalize;
    border: 2px solid $transparent-black;

    &:has(.checkbox:checked) {
      color: black;
      background-color: $transparent-black;
    }

    &:hover {
      scale: 1.06;
    }
  }

  .remove-category {
    position: absolute;
  }

  .checkbox {
    opacity: 0;
    display: none;
    position: absolute;
  }
}

@media screen and (max-width: $xlarge-screen) {
  .page-heading {
    padding: 0 15px;
  }
}

@media screen and (max-width: $large-screen) {
  .page-container {
    grid-template-rows: auto auto max-content;
    grid-template-areas:
      "filters-container"
      "categories-container"
      "news-container";
    grid-template-columns: 100%;
  }

  .categories-container {
    display: flex;
    margin-bottom: 12px;
    flex-direction: column;
    grid-area: categories-container;

    .categories-list {
      display: flex;
      overflow-x: auto;
      flex-direction: row;
    }

    .label {
      margin-right: 15px;
    }
  }
}

@media screen and (max-width: $medium-screen) {
  .filters-container {
    flex-direction: column;

    .keyword-input-container {
      width: 100%;
      margin-bottom: 10px;
    }

    .date-filter-container {
      width: 100%;
    }
  }
}
