@import "../../global.scss";

.news-article-container {
  color: black;
  display: flex;
  max-width: 90%;
  position: relative;
  padding: 10px 15px;
  border-radius: 5px;
  margin-bottom: 30px;
  text-decoration: none;
  flex-direction: column;
  scale: 1;
  background-color: $transparent-grey;
  transition:
    background-color 300ms,
    scale 300ms;

  &:hover {
    scale: 1.01;
    background-color: $transparent-black;
  }
}

.text-content {
  margin-left: 36px;
}

.article-image {
  border-radius: 5px;
  object-fit: cover;
}

.article-content {
  display: flex;
  justify-content: flex-start;
  width: 100%;
}

.article-meta-data {
  display: flex;
  margin-bottom: 0;
  justify-content: flex-start;
}

.redirect-icon {
  right: 10px;
  bottom: 10px;
  opacity: 0.4;
  position: absolute;
}

@media screen and (max-width: $large-screen) {
  .news-article-container {
    max-width: 100%;
  }
}
