@import "../../global.scss";

.news-article-container {
  color: black;
  display: flex;
  max-width: 80%;
  margin: 0 auto;
  padding: 10px 15px;
  border-radius: 5px;
  margin-bottom: 30px;
  text-decoration: none;
  flex-direction: column;
  scale: 1;
  background-color: $transparent-grey;
  transition:
    background-color 300ms,
    scale 300ms;

  &:hover {
    scale: 1.01;
    background-color: $transparent-black;
  }
}

.article-meta-data {
  display: flex;
  margin-bottom: 0;
  justify-content: flex-start;
}

@media screen and (max-width: $xlarge-screen) {
  .news-article-container {
    max-width: 90%;
  }
}

@media screen and (max-width: $medium-screen) {
  .news-article-container {
    max-width: 100%;
  }
}
